*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.pokecard{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 15px solid green;
}

.pokecard__header{
    width: 100%;
}

.pokecard__header-img{
    width: 100%;
}

.pokecard__name{
    text-transform: capitalize;
    font-size: 35px;
}

.pokecard__container-type{
    list-style: none;
    display: flex;
    gap: 1 rem;
}

.pokecard__type{
    /* background-color: aquamarine; */
}

.pokecard__container-stats{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0.8rem;
}

.pokecard__stats-data{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
}

.pokecard__stats-name{
    text-align: center;
    text-transform: uppercase;
    color: gray;
}

.pokecard__stats-base{
    text-align: center;
    font-weight: bold;
}

.bg-grass{
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

