*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* .container__pokecard{
    width: 100%;
    display: flex;
    background-color: red;
    flex-direction: row;
    flex-wrap: wrap;
} */

.pokecard{
    background-color: black;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 15px solid green;
}

.pokecard__header{
    background-color: gray;
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.pokecard__header-img{
    width: 100%;
}

.pokecard__name{
    background-color: blanchedalmond;
    text-transform: capitalize;
    font-size: 35px;
}

.pokecard__container-type{
    background-color: aqua;
    list-style: none;
    display: flex;
    gap: 1 rem;
}

.pokecard__type{
    background-color: aquamarine;
}

.pokecard__container-stats{
    /* background-color: red; */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0.8rem;
}

.pokecard__stats-data{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
}

.pokecard__stats-name{
    /* background-color: blue; */
    text-align: center;
    text-transform: uppercase;
    color: gray;
}

.pokecard__stats-base{
    /* background-color: green; */
    text-align: center;
    font-weight: bold;
}

.bg-grass{
}

